<IfModule mod_rewrite.c>
  RewriteEngine On
  # Arahkan semua akses root ke folder dist
  RewriteRule ^$ dist/index.html [L]
  
  # Jika file/folder yang diminta tidak ada di root, cari di dist
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ dist/$1 [L]
</IfModule>