<IfModule mod_rewrite.c>
  RewriteEngine On
  # Arahkan domain utama ke dist/index.html
  RewriteRule ^$ dist/index.html [L]
  
  # Arahkan semua file lain ke folder dist/
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ dist/$1 [L]
</IfModule>