RewriteEngine On

# 1. Alihkan semua permintaan ke folder web/dist secara transparan
# Jika pengunjung mengakses root (villaquranbaronmalang.com atau villaquranindonesia.com)
RewriteCond %{REQUEST_URI} !^/web/dist/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /web/dist/$1 [L]

# 2. Pastikan file index.html di dalam dist jadi landing page utama
RewriteCond %{HTTP_HOST} ^(www\.)?villaquranbaronmalang\.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www\.)?villaquranindonesia\.com$ [NC]
RewriteRule ^$ /web/dist/index.html [L]
