@import "tailwindcss";

@theme {
  --color-dark: #0F172A;
  --font-sans: var(--font-body), sans-serif;
}

@layer base {
  body {
    @apply bg-[var(--color-bg)] text-gray-900;
    font-family: var(--font-body), sans-serif;
  }

  h1 {
    font-family: var(--font-h1), sans-serif;
  }

  h2 {
    font-family: var(--font-h2), sans-serif;
  }

  h3 {
    font-family: var(--font-h3), sans-serif;
  }

  h4 {
    font-family: var(--font-h4), sans-serif;
  }

  a {
    @apply text-[var(--color-link)] hover:opacity-80 transition;
  }
}